.section-about {
  padding-bottom: 90px;
}

.about-container {
  @include tablet {
    display: flex;
  }
}

.about-container__list {
  display: none;
  @include tablet {
    display: block;
  }
  @include desktop {
    display: flex;
  }
}
.about-container__item:not(:first-child) {
  @media screen and (max-width: 1229.98px) {
    margin-top: 30px;
  }
  @include desktop {
    margin-left: 30px;
  }
}

.about-container__thumb {
  @include tablet {
    margin-top: 0;
    padding-left: 30px;
    width: 50%;
  }
}
.about-container__pre-title {
  padding-left: 50px;
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 45%;
    left: -10px;

    height: 1px;
    width: 45px;
    background-color: #303030;
  }
}

.about-container__title {
  margin-top: 20px;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: $h2-title-color;
}

.about-container__info,
.about-container__more-info {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: $main-text-color;
}

.about-btn {
  margin-top: 40px;

  &:hover,
  &:focus {
    color: white;
  }
}
