.section-contacts {
  @media screen and (max-width: 1229.98px) {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(
        180deg,
        #171a24 0%,
        rgba(23, 26, 36, 0.7) 100%
      ),
      url(../img/footer/bgtablet.jpg);
  }
  @include desktop {
    background-image: linear-gradient(
        180deg,
        #171a24 0%,
        rgba(23, 26, 36, 0.7) 100%
      ),
      url(../img/footer/Bgdesk.jpg);
  }
}

.container-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablet {
    flex-direction: row;
  }
  @include desktop {
    flex-direction: column;
    width: 625px;
  }
}

.section-contacts__title {
  text-align: center;
}

.section-contacts__list {
  margin-top: 40px;
}
.contacts-list__item {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: $secondary-text-color;

  transition: color 2000ms cubic-bezier(0.075, 0.82, 0.165, 1);

  &:not(:first-child) {
    margin-top: 20px;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.contacts-list__img {
  margin-right: 16px;
  fill: currentColor;
}

.contacts-list__link {
}

.section-contacts__pre-title {
  margin-top: 44px;
  padding-left: 50px;
  position: relative;
  color: white;
}

.section-contacts__pre-title::before {
  content: '';
  display: block;
  position: absolute;
  top: 45%;
  left: -10px;

  height: 1px;
  width: 45px;
  background-color: rgba(157, 164, 189, 0.4);
}

.section-contacts__thumb-time {
  @include tablet {
    margin-left: auto;
  }
  @include desktop {
    margin-left: 0;
  }
}
.section-contacts__time {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.67;

  letter-spacing: 0.02em;
  color: $secondary-text-color;
}
