.section-examples {
}

.section-examples__title {
  position: relative;
  padding-left: 50px;
}
.section-examples__title::before {
  content: '';
  display: block;
  position: absolute;
  top: 45%;
  left: -10px;

  height: 1px;
  width: 45px;
  background-color: #303030;
}

.section-examples__list {
  margin-top: 44px;
}
.list-examples__item:not(:first-child) {
  margin-top: 30px;
}
.list-examples__img {
}
