.section-feedback {
  background-color: $feedbackBg;
}

.section-feedback__container {
  @include desktop {
    width: 50%;
  }
}

.feedback-form__thumb {
  display: flex;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
    align-items: baseline;
  }
}

.section-feedback__titlte {
  text-align: center;
}
.section-feedback__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 44px;
  @media screen and (max-width: 500px) {
    font-size: 3vw;
  }

  & label:first-child {
    @include tablet {
      margin-right: 20px;
    }
  }

  & label:not(:first-child) {
    @media screen and (max-width: 500px) {
      margin-top: 22px;
    }
    margin-top: 44px;
  }

  & input,
  & textarea {
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 200px;
    @media screen and (min-width: 471px) {
      min-width: 280px;
    }
    border: none;
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);
    color: white;
    background-color: transparent;
    outline: none;
    resize: none;

    transition: border-bottom 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);

    &::placeholder {
      font-weight: 600;
      font-size: 11px;
      line-height: 1.35;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: rgba(157, 164, 189, 0.4);

      transition: color 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }
  & input:focus,
  & textarea:focus {
    border-bottom: 1px solid white;
    &::placeholder {
      color: white;
    }
  }

  & textarea {
    @include tablet {
      width: 560px;
    }
  }
}

.section-feedback__btn {
  @media screen and (max-width: 500px) {
    width: 40vw;
  }

  margin-top: 44px;
  color: white;
}

.feedback-contacts-flex {
  @include desktop {
    display: flex;
    justify-content: center;
  }
}
