.footer {
  padding-top: 44px;
  padding-bottom: 44px;
}

.container-footer {
  @include tablet {
    display: flex;
    flex-direction: row-reverse;
  }
}
.main-social-list {
  display: flex;
  justify-content: end;
  padding-left: 50px;
  position: relative;

  @include tablet {
    margin-left: auto;
  }
}

.main-social-list__item {
  position: relative;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.35;

  letter-spacing: 0.2em;
  color: $text-color;

  transition: color 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
  &:not(:first-child) {
    margin-left: 40px;
  }

  &:not(:last-child)::before {
    content: '';
    display: block;
    position: absolute;
    top: 45%;
    right: 80px;
    height: 1px;
    width: 60px;
    background-color: #303030;
  }
}

.main-social-list__link {
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer__copyright {
  @media screen and (max-width: 767.98px) {
    margin-top: 10px;
  }

  font-weight: 600;
  font-size: 11px;
  line-height: 1.35;
  letter-spacing: 0.2em;
  color: $secondary-text-color;
}
